{
	auto_https off
	log {
		format json
		output stdout
	}
}

:8080 {
	handle /health {
		respond "OK" 200
	}

	@websocket {
		header Connection *upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websocket localhost:9090 {
		flush_interval -1
	}

	handle {
		respond "Bitwarden Remote Access Proxy {env.VERSION}" 200
	}

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Referrer-Policy "no-referrer"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
	}
}
